@mixin rfp-widget-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    rfp-widget {

        > .rfp-widget-front,
        > .rfp-widget-back {
            background: map-get($background, card);
            border-color: map-get($foreground, divider);
        }
    }
}